@font-face {
  font-family: "iconfont"; /* Project id 4296189 */
  src: url('iconfont.woff2?t=1697854082841') format('woff2'),
       url('iconfont.woff?t=1697854082841') format('woff'),
       url('iconfont.ttf?t=1697854082841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-yinle:before {
  content: "\e624";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-shujujiegou:before {
  content: "\e790";
}

.icon-github:before {
  content: "\e732";
}

.icon-dianhua:before {
  content: "\e8ad";
}

.icon-java:before {
  content: "\e6e0";
}

.icon-java1:before {
  content: "\e639";
}

.icon-jisuanjikaifa:before {
  content: "\e664";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-weixin1:before {
  content: "\e607";
}

.icon-development:before {
  content: "\e601";
}

.icon-daiyanjingnanshenglikenanligongnanchengxuyuan:before {
  content: "\e7c7";
}

.icon-home:before {
  content: "\f017";
}

